@font-face {
  font-family: "Pompiere-Regular";
  src: url("./utils/fonts/Pompiere-Regular.ttf") format(TrueType),
    url("./utils/fonts/Pompiere-Regular.woff") format(woff),
    url("./utils/fonts/Pompiere-Regular.woff2") format(woff2);
}
body {
  margin: 0;
  font-family: "Pompiere-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
